<!-- content footer-->
<div class="height-emulator"></div>
<footer class="content-footer">
    <!--  container  --> 
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <!-- Footer logo --> 
                <div class="footer-item footer-logo">
                    <a href="/"><img src="/images/home/home-lede.png" alt="" class="img-fluid" style="max-height: 120px;" ></a>
                </div>
                <!-- Footer logo end --> 
            </div>
            <!-- Footer info --> 
            <div class="col-md-3">
                <div class="footer-item">
                    <h4 class="text-link">Phone</h4>
                    <ul>
                        <li><a href="tel:781-789-1612">781-789-1612</a></li>
                    </ul>
                </div>
            </div>
            <!-- Footer info end--> 
            <!-- Footer info --> 
            <div class="col-md-3">
                <div class="footer-item">
                    <h4 class="text-link">Email</h4>
                    <ul>
                        <li><a href="mailto:info@threeleafdevelopment.com">info@threeleafdevelopment.com</a></li>
                    </ul>
                </div>
            </div>
            <!-- Footer info-->
            <!-- Footer info end--> 
            <div class="col-md-3">
                <div class="footer-item">
                    <h4 class="text-link">Address</h4>
                    <ul>
                        <li><span>99 Wall Street #1809, New York, NY 10005</span></li>
                    </ul>
                </div>
            </div>
            <!-- Footer info end--> 
        </div>
        <!-- Footer copyright -->
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <div class="footer-wrap">
                    <span class="copyright">  &#169; Three Leaf Development   2021  
                    </span>
                    <span class="to-top">To Top</span>
                </div>
            </div>
        </div>
        <!-- Footer copyright end -->
    </div>
    <!--  container  end --> 
    
</footer>
<!-- content footer end -->
<!-- share  -->
<div class="share-inner">
    <div class="share-container  isShare"  data-share="['facebook','twitter','linkedin']"></div>
    <div class="close-share"></div>
</div>
<!-- share end -->