<header>
    <!-- header-inner  -->
    <div class="header-inner">
        <!-- header logo -->
        <div class="logo-holder">
            <a href="/"><img src="/images/logo.png" alt=""></a>
        </div>
        <!-- header logo end -->
        <!-- mobile nav button -->
        <div class="nav-button-holder">
            <div class="nav-button vis-m"><span></span><span></span><span></span></div>
        </div>
        <!-- mobile nav button end -->
        <!-- navigation  -->
        <div class="nav-holder">
            <nav>
                <ul>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li><a href="/services">Services</a></li>
                    <li>
                        <a href="/portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a href="/leasings">Leasings</a>
                    </li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
        </div>
        <!-- navigation  end -->
    </div>
    <!-- header-inner  end -->
    <!-- share button  -->
    <div class="show-share isShare">
        <span>Share</span>
        <i class="fa fa-chain-broken"></i>            
    </div>
    <!-- share  end-->
</header>