<footer class="fixed-footer">
    <div class="footer-social">
        <ul>
            <li><a href="https://www.instagram.com/threeleafdevelopment/" target="_blank" ><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://www.facebook.com/threeleafdevelopment/" target="_blank" ><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/ThreeLeafDev" target="_blank"><i class="fa fa-twitter"></i></a></li>
        </ul>
    </div>
    <!-- Header  title --> 
    <div class="footer-title">
        <h2><a  href="#"></a></h2>
    </div>
    <!-- Header  title  end-->
</footer>