<!--================= main ====================-->
<div id="main">
    <!--=============== header ================--> 
    {{> header}}  
    <!--=============== wrapper ===============--> 
    <div id="wrapper">
        <!-- content-holder  -->
        <div class="content-holder">
            <!-- Page title -->
            <div class="dynamic-title">{{title}}</div>
            <!-- Page title  end--> 
            <!-- content  -->
            <!-- content  -->
            <div class="content full-height">
                <!-- Hero section   -->
                <div class="hero-wrap">
                    <!-- Hero image   -->
                    <div class="bg"  data-bg="images/home/unsplash-3.jpg"></div>
                    <!-- Hero image   end -->
                    <div class="overlay"></div>
                    <!-- Hero text   -->
                    <div class="hero-wrap-item nFound-page-wrap">
    					<span class="nFound-Page"></span>
                        <h2>COMING SOON</h2>
                         <a href="/" class="hero-link">Back to home page</a> 
                    </div>
                    <!-- Hero text   end-->
                </div>
                <!-- Hero section   end -->
            </div>
            <!-- content end -->
            {{> footer}}
            <!-- share  -->
            <div class="share-inner">
                <div class="share-container  isShare"  data-share="['facebook','googleplus','twitter','linkedin']"></div>
                <div class="close-share"></div>
            </div>
            <!-- share end -->
        </div>
        <!-- content-holder  end-->
    </div>
    <!--=============== footer ================--> 
    {{> leftbar}} 
</div>