<!--================= main ====================-->
<div id="main">
    <!--=============== header ================--> 
    {{> header}}  
    <!--=============== wrapper ===============--> 
    <div id="wrapper">
        <!-- content-holder  -->
        <div class="content-holder">
            <!-- Page title -->
            <div class="dynamic-title">{{title}}</div>
            <!-- Page title  end--> 
            <!-- content  -->
            <div class="content">
                <section class="parallax-section">
                    <div class="parallax-inner">
                        <div class="bg" data-bg="https://imgix.cosmicjs.com/d3bba090-fe27-11ea-a525-3597bcdfdc76-lede-bg.jpg" data-top-bottom="transform: translateY(300px);" data-bottom-top="transform: translateY(-300px);"></div>
                        <div class="overlay"></div>
                    </div>
                    <div class="container">
                        <div class="page-title">
                            <div class="row">
                                <div class="col-md-6">
                                    <h2>Contact <strong>Us </strong></h2>
                                </div>
                                <div class="col-md-6">
                                    <ul class="creat-list">
                                        <li><a href="/">Home</a></li>
                                        <li><a href="/contact">Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!-- content end -->
            <!-- content  -->
            <div class="content">
                <section>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8">
                                <h2 class="section-title">Get in <strong>Touch</strong></h2>
                                <p>We’re eager to help you with any questions you have about our services, projects, or process.</p>
                            </div>
                        </div>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d48393.60026719826!2d-74.007281!3d40.704806!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a161aaa68c5%3A0x11f4f914d4c083b5!2s99%20Wall%20St%20%231809%2C%20New%20York%2C%20NY%2010005!5e0!3m2!1sen!2sus!4v1600922477291!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0; float: left;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="contact-details">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <h3 class="bold-title">Contact details : </h3>
                                        </div>
                                        <div class="col-md-4">
                                            <h4>Office in New York</h4>
                                            <ul>
                                                <li><a href="#">99 Wall Street #1809, New York, NY 10005</a></li>
                                                <li><a href="tel:781-789-1612">781-789-1612</a></li>
                                                <li><a href="mailto:info@threeleafdevelopment.com">info@threeleafdevelopment.com</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4">
                                            <h4>Find Us On : </h4>
                                            <ul>
                                                <li><a href="https://www.facebook.com/threeleafdevelopment/">Facebook</a></li>
                                                <li><a href="https://twitter.com/ThreeLeafDev">Twitter</a></li>
                                                <li><a href="https://www.instagram.com/threeleafdevelopment/">Instagram</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- contact form -->
                                <div class="contact-form-holder">
                                    <div id="contact-form">
                                        <div id="message"></div>
                                        <form method="post" action="https://formspree.io/mrgogjle" name="contactform" id="contactform" >
                                            <input name="name" type="text" id="name"  onClick="this.select()" value="Name *" >
                                            <input name="email" type="text" id="email" onClick="this.select()" value="E-mail *" >
                                            <textarea name="comments"  id="comments" onClick="this.select()" >Message</textarea>                                                     
                                            <button type="submit"  id="submit"><span>Send Message </span></button>                                                              
                                        </form>
                                    </div>
                                </div>
                                <!-- contact form  end-->
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!-- content end-->      
            {{> footer}}
            <!-- share  -->
            <div class="share-inner">
                <div class="share-container  isShare"  data-share="['facebook','googleplus','twitter','linkedin']"></div>
                <div class="close-share"></div>
            </div>
            <!-- share end -->
        </div>
        <!-- content-holder  end-->
    </div>
    <!--=============== footer ================--> 
    {{> leftbar}} 
</div>