<!--================= main ====================-->
<div id="main">
    <!--=============== header ================--> 
    {{> header}}  
    <!--=============== wrapper ===============--> 
    <div id="wrapper">
        <!-- content-holder  -->
        <div class="content-holder">
            <!-- Page title -->
            <div class="dynamic-title">{{title}}</div>
            <!-- Page title  end--> 
            <!-- content  -->
            <!-- content  -->
            <div class="content">
                <section class="parallax-section">
                    <div class="parallax-inner">
                        <div class="bg" data-bg="images/bg/1.jpg" data-top-bottom="transform: translateY(300px);" data-bottom-top="transform: translateY(-300px);"></div>
                        <div class="overlay"></div>
                    </div>
                    <div class="container">
                        <div class="page-title">
                            <div class="row">
                                <div class="col-md-6">
                                    <h2>Our <strong> portfolio </strong></h2>
                                </div>
                                <div class="col-md-6">
                                    <ul class="creat-list">
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="portfolio4.html">Portfolio</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!-- content end -->
            <div class="content">
                <section>
                    <div class="container">
                        <!-- filter -->
                        <div class="filter-holder inline-filter">
                            <div class="gallery-filters">
                                <a href="#" class="gallery-filter transition2 gallery-filter_active" data-filter="*">All</a>
                                <a href="#" class="gallery-filter transition2" data-filter=".interior">Interior</a>
                                <a href="#" class="gallery-filter transition2" data-filter=".construction">Construction</a>
                                <a href="#" class="gallery-filter transition2" data-filter=".design">Design</a>
                                <a href="#" class="gallery-filter transition2" data-filter=".houses">Houses</a>
                            </div>
                            <div class="count-folio">
                                <div class="num-album"></div>
                                <div class="all-album"></div>
                            </div>
                        </div>
                        <!-- filter end-->
                        <!--=============== portfolio holder ===============-->
                        <div class="gallery-items   three-columns grid-small-pad ">
                            <!-- 1 -->
                            <div class="gallery-item  interior houses construction">
                                <div class="grid-item-holder">
                                    <img  src="images/folio/thumbs/2.jpg"    alt="">
                                    <div class="port-desc-holder">
                                        <div class="port-desc">
                                            <div class="grid-item">
                                                <h3><a href="portfolio-single.html">Quisque non augue</a></h3>
                                                <span>Photography /    Interior</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 1 end-->
                            <!-- 2 -->
                            <div class="gallery-item  gallery-item-second  interior">
                                <div class="grid-item-holder">
                                    <img  src="images/folio/thumbs/1.jpg"    alt="">
                                    <div class="port-desc-holder">
                                        <div class="port-desc">
                                            <div class="grid-item">
                                                <h3><a href="portfolio-single.html">Tincidunt ornare</a></h3>
                                                <span>Photography /    wood</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 2 end-->
                            <!-- 3 -->
                            <div class="gallery-item  design">
                                <div class="grid-item-holder">
                                    <img  src="images/folio/thumbs/1.jpg"    alt="">
                                    <div class="port-desc-holder">
                                        <div class="port-desc">
                                            <div class="grid-item">
                                                <h3><a href="portfolio-single.html">lacus purus</a></h3>
                                                <span>Photography /    design</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 3 end-->
                            <!-- 4 -->
                            <div class="gallery-item  houses   interior">
                                <div class="grid-item-holder">
                                    <img  src="images/folio/thumbs/1.jpg"    alt="">
                                    <div class="port-desc-holder">
                                        <div class="port-desc">
                                            <div class="grid-item">
                                                <h3><a href="portfolio-single.html">Phasellus nec</a></h3>
                                                <span>Photography /    design</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 4 end-->
                            <!-- 5 -->
                            <div class="gallery-item  houses  design  interior">
                                <div class="grid-item-holder">
                                    <img  src="images/folio/thumbs/2.jpg"    alt="">
                                    <div class="port-desc-holder">
                                        <div class="port-desc">
                                            <div class="grid-item">
                                                <h3><a href="portfolio-single.html">Efficitur urna</a></h3>
                                                <span>Photography /   Architecture</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 5 end-->                            
                            <!-- 6 -->
                            <div class="gallery-item  design interior  construction">
                                <div class="grid-item-holder">
                                    <img  src="images/folio/thumbs/1.jpg"    alt="">
                                    <div class="port-desc-holder">
                                        <div class="port-desc">
                                            <div class="grid-item">
                                                <h3><a href="portfolio-single.html">Integer euismod</a></h3>
                                                <span>Architecture /    design</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 6 end-->
                            <!-- 7 -->
                            <div class="gallery-item    design">
                                <div class="grid-item-holder">
                                    <img  src="images/folio/thumbs/1.jpg"    alt="">
                                    <div class="port-desc-holder">
                                        <div class="port-desc">
                                            <div class="grid-item">
                                                <h3><a href="portfolio-single.html">vitae odio</a></h3>
                                                <span>Photography /    design</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 7 end-->
                            <!-- 8 -->
                            <div class="gallery-item     interior  design">
                                <div class="grid-item-holder">
                                    <img  src="images/folio/thumbs/1.jpg"    alt="">
                                    <div class="port-desc-holder">
                                        <div class="port-desc">
                                            <div class="grid-item">
                                                <h3><a href="portfolio-single.html">Quisque non augue</a></h3>
                                                <span>Architecture/  design</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 8 end-->
                            <!-- 9 -->
                            <div class="gallery-item      design houses">
                                <div class="grid-item-holder">
                                    <img  src="images/folio/thumbs/1.jpg"    alt="">
                                    <div class="port-desc-holder">
                                        <div class="port-desc">
                                            <div class="grid-item">
                                                <h3><a href="portfolio-single.html">condimentum ac sapien</a></h3>
                                                <span>Photography /   wood</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 9 end--> 
                            <!-- 10 -->
                            <div class="gallery-item   design interior">
                                <div class="grid-item-holder">
                                    <img  src="images/folio/thumbs/1.jpg"    alt="">
                                    <div class="port-desc-holder">
                                        <div class="port-desc">
                                            <div class="grid-item">
                                                <h3><a href="portfolio-single.html">Maecenas vitae semper</a></h3>
                                                <span>Architecture /  Interior</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 10 end-->
                     
                        </div>
                        <!-- end gallery items -->               
                        <!-- custom-link-holder  --> 
                        {{!-- <div class="custom-link-holder">
                            <a href="contact.html" class="btn anim-button"  data-top-bottom="transform: translateY(-50px);" data-bottom-top="transform: translateY(50px);"><span>To order Project</span><i class="fa fa-long-arrow-right"></i></a>  
                        </div> --}}
                        <!-- custom-link-holder  end -->
                    </div>
                </section>
            </div>
            <!-- content end -->
            <!-- content footer-->
            <div class="height-emulator"></div>
            {{> footer}}
            <!-- content footer end -->
            <!-- share  -->
            <div class="share-inner">
                <div class="share-container  isShare"  data-share="['facebook','googleplus','twitter','linkedin']"></div>
                <div class="close-share"></div>
            </div>
            <!-- share end -->
        </div>
        <!-- content-holder  end-->
    </div> 
    <!--=============== footer ================--> 
    {{> leftbar}} 
</div>



